:root {
  --primary: #4682b4;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "neue";
  src: url("../assets/font/bebasnueuregular.ttf");
}

@font-face {
  font-family: "neuel";
  src: url("../assets/font/BebasNeueLight.otf");
}

body {
  font-family: "neue", sans-serif;
  background-color: var(--bg);
  color: #000;
}

body p {
  font-family: neuel;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: rgb(70, 130, 180, 0.8);
  border-bottom: 1px solid #386a92;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--bg);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #000;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #000;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #000;
}

#menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../assets/img/tagsayog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 55%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  line-height: 1.2;
}

.hero .content p {
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  line-height: 1.4;
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  box-shadow: 1px 1px 3px #000, 0.5;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.hero .content .cta:hover {
  background-color: #386a92;
}

.hero .content h1 span {
  color: var(--primary);
}

/* Product Section*/
.product,
.contact {
  padding: 7rem 7% 1.4rem;
}

.product h2,
.contact h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.product h2 span {
  color: var(--primary);
}

.product p,
.contact p {
  text-align: center;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
  font-size: 2rem;
  font-weight: bold;
}

.product .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.product .row .product-card {
  text-align: center;
  padding-bottom: 4rem;
}

.product .row .product-card img {
  border-radius: 10%;
  width: 80%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.product .row .product-card .product-card-title {
  margin: 1rem auto 0.5rem;
}

.listp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  text-align: center;
  font-size: 1.4rem;
  color: #fff;
  background-color: #00cc00;
  box-shadow: 1px 1px 3px #000, 0.5;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.listp:hover {
  background-color: #009a00;
}

/* Contact Section */
.contact {
  background-color: var(--primary);
}

.contact h2 span {
  color: #fff;
}

.contact p {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row a {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  box-shadow: 1px 1px 3px #000, 0.5;
  background-color: #25d366;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.contact .row .btn-wa {
  background-color: #25d366;
}

.contact .row .btn-wa:hover {
  background-color: #1d9f4d;
}

.contact .row .btn-mail {
  background-color: #3498db;
}

.contact .row .btn-mail:hover {
  background-color: #2771a2;
}

.contact .row .btn-tiktok {
  background-color: #69c9d0;
}

.contact .row .btn-tiktok:hover {
  background-color: #4d9297;
}

.contact .row .btn-shopee {
  background-color: #ff4500;
}

.contact .row .btn-shopee:hover {
  background-color: #b63000;
}

.contact .row .btn-ig {
  background-color: #e4405f;
}

.contact .row .btn-ig:hover {
  background-color: #ae3248;
}

/* About Section */
.about {
  padding: 7rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 50rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 1rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}

/* Production Section*/
.production {
  padding: 7rem 7% 1.4rem;
}

.production h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.production h2 span {
  color: var(--primary);
}

.production p {
  text-align: center;
  max-width: 400rem;
  margin: auto;
  line-height: 1.6;
  font-size: 2rem;
  font-weight: bold;
}

.production-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.production-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 45%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.production-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.production-card-content {
  padding: 16px;
}

.production-card-title {
  text-align: center;
  font-size: 1.2rem;
}

.production-card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.production-card-details p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  color: #555;
}

.production-buy-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.production-buy-link:hover {
  background-color: #2980b9;
}

/* Footer */

footer {
  margin: 0;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding: 1rem 0 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--primary);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  color: #fff;
  font-size: 0.8rem;
}

footer .credit a {
  color: #fff;
  font-weight: 700;
}

/* Media Quearies */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #000;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
    -webkit-transform: scaleX(0.2);
    -moz-transform: scaleX(0.2);
    -ms-transform: scaleX(0.2);
    -o-transform: scaleX(0.2);
  }

  .product p,
  .contact p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
